@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Didot;
  src: url("/src/app/fonts/Didot.otf");
}

:root {
  --background: #4e190f;
  --foreground: #eebd70;

  --secondary: #b34530;
}

* {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Didot, Helvetica, sans-serif;
}

nav {
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.input-group {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}

.input-group input,
.input-group textarea {
  padding: 2px;
  width: 80%;
  background-color: var(--secondary);
  color: black;
}

.input-group textarea {
  max-height: 300px;
  min-height: 100px;
}

.input-group label {
  justify-self: center;
}

@media only screen and (max-width: 768px) {
  .input-group {
    flex-direction: column;
  }

  .input-group input,
  .input-group textarea {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
  }
}
