@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Didot;
  src: url("/src/app/fonts/Didot.otf");
}

:root {
  --background: #4e190f;
  --foreground: #eebd70;

  --secondary: #b34530;
}

* {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Didot, Helvetica, sans-serif;
}

nav {
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.input-group {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.input-group input,
.input-group textarea {
  padding: 2px;
  width: 360px;
  background-color: var(--secondary);
  color: black;
}

.input-group textarea {
  max-height: 300px;
  min-height: 100px;
}

.input-group label {
  justify-self: center;
}
